.weather{
    place-self: center;
    padding : 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: 90%;          
    max-width: 450px;    
    margin: 0 auto;      
          
    box-sizing: border-box; 
}
h1 {
    color: #ffffff;
    margin-bottom: 20px;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;
    font-weight: 500;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    font-size: 5rem;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
}
.location{
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    margin-top: 10px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    font-size: 20px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 24px;
}